LenovoWiFiWPFClient/Service References/Proxy/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HostedNetworkService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IHostedNetworkService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHostedNetworkService_GetHostedNetworkName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHostedNetworkName" />
  </wsdl:message>
  <wsdl:message name="IHostedNetworkService_GetHostedNetworkName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHostedNetworkNameResponse" />
  </wsdl:message>
  <wsdl:message name="IHostedNetworkService_SetHostedNetworkName_InputMessage">
    <wsdl:part name="parameters" element="tns:SetHostedNetworkName" />
  </wsdl:message>
  <wsdl:message name="IHostedNetworkService_SetHostedNetworkName_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetHostedNetworkNameResponse" />
  </wsdl:message>
  <wsdl:message name="IHostedNetworkService_GetHostedNetworkKey_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHostedNetworkKey" />
  </wsdl:message>
  <wsdl:message name="IHostedNetworkService_GetHostedNetworkKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHostedNetworkKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IHostedNetworkService_SetHostedNetworkKey_InputMessage">
    <wsdl:part name="parameters" element="tns:SetHostedNetworkKey" />
  </wsdl:message>
  <wsdl:message name="IHostedNetworkService_SetHostedNetworkKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetHostedNetworkKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IHostedNetworkService_StartHostedNetwork_InputMessage">
    <wsdl:part name="parameters" element="tns:StartHostedNetwork" />
  </wsdl:message>
  <wsdl:message name="IHostedNetworkService_StartHostedNetwork_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartHostedNetworkResponse" />
  </wsdl:message>
  <wsdl:message name="IHostedNetworkService_StopHostedNetwork_InputMessage">
    <wsdl:part name="parameters" element="tns:StopHostedNetwork" />
  </wsdl:message>
  <wsdl:message name="IHostedNetworkService_StopHostedNetwork_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopHostedNetworkResponse" />
  </wsdl:message>
  <wsdl:portType name="IHostedNetworkService">
    <wsdl:operation name="GetHostedNetworkName">
      <wsdl:input wsaw:Action="http://tempuri.org/IHostedNetworkService/GetHostedNetworkName" message="tns:IHostedNetworkService_GetHostedNetworkName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHostedNetworkService/GetHostedNetworkNameResponse" message="tns:IHostedNetworkService_GetHostedNetworkName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetHostedNetworkName">
      <wsdl:input wsaw:Action="http://tempuri.org/IHostedNetworkService/SetHostedNetworkName" message="tns:IHostedNetworkService_SetHostedNetworkName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHostedNetworkService/SetHostedNetworkNameResponse" message="tns:IHostedNetworkService_SetHostedNetworkName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHostedNetworkKey">
      <wsdl:input wsaw:Action="http://tempuri.org/IHostedNetworkService/GetHostedNetworkKey" message="tns:IHostedNetworkService_GetHostedNetworkKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHostedNetworkService/GetHostedNetworkKeyResponse" message="tns:IHostedNetworkService_GetHostedNetworkKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetHostedNetworkKey">
      <wsdl:input wsaw:Action="http://tempuri.org/IHostedNetworkService/SetHostedNetworkKey" message="tns:IHostedNetworkService_SetHostedNetworkKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHostedNetworkService/SetHostedNetworkKeyResponse" message="tns:IHostedNetworkService_SetHostedNetworkKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartHostedNetwork">
      <wsdl:input wsaw:Action="http://tempuri.org/IHostedNetworkService/StartHostedNetwork" message="tns:IHostedNetworkService_StartHostedNetwork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHostedNetworkService/StartHostedNetworkResponse" message="tns:IHostedNetworkService_StartHostedNetwork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopHostedNetwork">
      <wsdl:input wsaw:Action="http://tempuri.org/IHostedNetworkService/StopHostedNetwork" message="tns:IHostedNetworkService_StopHostedNetwork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHostedNetworkService/StopHostedNetworkResponse" message="tns:IHostedNetworkService_StopHostedNetwork_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetNamedPipeBinding_IHostedNetworkService" type="tns:IHostedNetworkService">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IHostedNetworkService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="GetHostedNetworkName">
      <soap12:operation soapAction="http://tempuri.org/IHostedNetworkService/GetHostedNetworkName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetHostedNetworkName">
      <soap12:operation soapAction="http://tempuri.org/IHostedNetworkService/SetHostedNetworkName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHostedNetworkKey">
      <soap12:operation soapAction="http://tempuri.org/IHostedNetworkService/GetHostedNetworkKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetHostedNetworkKey">
      <soap12:operation soapAction="http://tempuri.org/IHostedNetworkService/SetHostedNetworkKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartHostedNetwork">
      <soap12:operation soapAction="http://tempuri.org/IHostedNetworkService/StartHostedNetwork" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopHostedNetwork">
      <soap12:operation soapAction="http://tempuri.org/IHostedNetworkService/StopHostedNetwork" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HostedNetworkService">
    <wsdl:port name="NetNamedPipeBinding_IHostedNetworkService" binding="tns:NetNamedPipeBinding_IHostedNetworkService">
      <soap12:address location="net.pipe://localhost/LenovoWiFi/HostedNetworkService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/LenovoWiFi/HostedNetworkService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>KIDD-WIN7-X240S\Kidd</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>